@use "global" as *;
.card__img--sorce {
  // size
  display: block;
  width: 100%;
  height: 100%;
  // decoration
  background-image: url(/images/mameta5.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  // ajustment
  position: absolute;
  top: 0;
  left: 0;

  @include mq(md) {
  }
  @include mq(xl) {
  }
}
